@font-face {
    font-family: 'manegangfont';
    src: url('assets/font1.otf') format('opentype');
    font-display: swap;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'manegangfont', sans-serif;
    background-color: #0a0a0a;
    background-image: url('assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    color: #cccccc;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scrollbar-width: none; 
    user-select: none;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 1200px;
    width: 90%; 
    padding: 20px;
    background: rgba(0, 0, 0, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(0, 0, 0, 0.14);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.1s ease-out;
    will-change: transform;
    position: relative;
    height: 80vh;
    overflow-y: auto;
    margin-top: 1.8vh;
    margin-bottom: 20px;
}

.container::-webkit-scrollbar {
    display: none;
}

.logo {
    user-select: none;
}

.nav-links {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.nav-links a {
    color: #ffffff;
    text-transform: lowercase;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 15px;
    transition: color 0.3s;
    text-decoration: none;
    filter: antialiased;
}

.nav-links a:hover {
    color: #cccccc;
    filter: blur(1px);
}

@media (max-width: 1024px) {
    .container {
        max-width: 90vw;
        height: 75vh;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 95vw;
        height: 70vh; 
        padding: 3vh;
    }

    body, html {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 90vw; 
        height: 60vh;
        padding: 4vh;
    }

    body, html {
        font-size: 12px;
    }
}