@font-face {
    font-family: 'manegangfont';
    src: url('assets/font1.otf') format('opentype');
    font-display: swap; /* Ensures text is visible while the font loads */
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'manegangfont', sans-serif;
    background-color: #0a0a0a;
    background-image: url('assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    color: #cccccc;
    height: 100vh; /* Set body to full height of the viewport */
    overflow: hidden; /* Hide scrollbars on the body */
    display: flex;
    flex-direction: column; /* Column direction */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    scrollbar-width: none; 
    user-select: none;
}
body::-webkit-scrollbar {
    display: none; /* chrome safari edge */
}
.container {
    max-width: 1200px; 
    width: 90%; 
    padding: 20px;
    background: rgba(0, 0, 0, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(0, 0, 0, 0.14);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.1s ease-out;
    will-change: transform;
    position: relative;
    height: 80vh; /* Fixed height for the container */
    overflow-y: auto;  /* Allows vertical scrolling */
    margin-top: 1.8vh; /* Remove margin-top */
    margin-bottom: 20px; /* Added px to specify unit */

}
.container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
}